html{
	scroll-behavior: smooth;
}
/*BODY*/
body{
	margin:0;
	font-family: 'Audiowide', cursive;
	font-family: 'Open Sans', sans-serif;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(148,0,0,1) 100%);
	color:#fff;
}
iframe{
	height:100%;
	width:100%;
	border:0;
	background:none;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
}
a{
	color:#fff;
	text-decoration:0;
}
/*HEADER*/
header{
	background:#1e0000;
	width:100%;
	height:5.4vw;
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	box-shadow: 0px 0px 3vw 0px rgba(0, 0, 0, 1);
}
.logo-img{
	height:100%;
	float:left;
	transform: rotate(-30deg);
}
.logo-txt{
	float:left;
	margin:1.3vw 0;
	font-size:2vw;
}
/*LIST*/
nav{
	margin:auto;
	float:center;
	width:64vw;
	text-align:center;
	height:5.4vw;
}
nav a{
	padding:0.4vw 1vw;
	font-weight:600;
}
nav>ol{
	margin:0.4vw 0;
	padding:0.8vw 0 0 0;
	list-style-type:none;
	display:inline-block;
	font-size:1.6vw;
}
nav>ol>li{
	float:left;
	margin:0 0.5vw;
	width:15vw;
}
nav>ol a{
	display:block;
}
nav>ol > li:hover{
	background:#2e0000;
}
nav>ol>li a:hover{
	color:#940000;
}
nav>ol > li:hover > ul{	
	display:block;
	opacity: 1;
	width:100%;
}
nav>ol>li>ul{
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
	transition: all 0.4s ease-out;
	opacity: 0;
	border:1px solid #940000;
	background:#1e0000;
}
nav>ol>li>ul>li{
	border-top:1px solid #940000;
}
nav>ol>li>ul>li:first-child{
	border-top:0;
}
/*MAIN*/
main{
	margin:auto;
	margin-top:6vw;
	width:1300px;
	float:center;
}
.twitter{
	width:800px;
	margin:3.3% 0 0 3.3%;
	float:left;
}
.twitter-widget{
	width:100%;
	height:6000;
	border:0;
}
aside{
	border:1px solid #101010;
	width:400px;
	background-color:#000;
	margin:3.9% 0 0 3.3%;
	float:left;
}
#button-social{
	border:1px solid #1e0000;
	margin:2%;
	width:45%;
	float:left;
	height:80px;
	text-align:center;
	font-size:60px!important;
	padding-top:7%;
}
.button-yt{
	background-color:#e62117;
}
.button-twitter{
	background-color:#1da1f2;
}
.button-twitch{
	background-color:#9147fe;
}
.button-discord{
	background-color:#738adb;
}
.discord-icon{
	width:42%;
}
footer{
	background-color:#040404;
	color:#1f1f1f;
	text-align:center;
	padding:3vw;
	z-index:200;
	position:relative;
	margin-top:1vw;
}
.terminarz{
	width:910px;
	height:1533px;
	margin:3.3%;
	border:1px solid #101010;
	margin:auto;
	float:center;
	z-index:1;
	position:relative;
}
.terminarz>iframe{
	height:100%;
	width:100%;
	z-index:2;
	position:relative;
	top:0;
}
.censure{
	position:relative;
	z-index:90;
	box-shadow: inset 0px -5px 0px 16px rgba(0, 0, 0, 1);
	height:100%;
	width:910px;
	margin-top:-1533px;
}
.tabela{
	width:910px;
	height:818px;
	margin:3.3%;
	border:1px solid #101010;
	margin:auto;
	float:center;
	z-index:1;
	position:relative;
}
.tabela>iframe{
	height:100%;
	width:100%;
	z-index:2;
	position:relative;
	top:0;
}
