@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?91029606');
  src: url('../font/fontello.eot?91029606#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?91029606') format('woff2'),
       url('../font/fontello.woff?91029606') format('woff'),
       url('../font/fontello.ttf?91029606') format('truetype'),
       url('../font/fontello.svg?91029606#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91029606#fontello') format('svg');
  }
}
*/
[class$="-icon"]:before, [class*="-icon "]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.glass-icon:before { content: '\e800'; } /* '' */
.music-icon:before { content: '\e801'; } /* '' */
.search-icon:before { content: '\e802'; } /* '' */
.mail-icon:before { content: '\e803'; } /* '' */
.heart-icon:before { content: '\e804'; } /* '' */
.heart-empty-icon:before { content: '\e805'; } /* '' */
.star-icon:before { content: '\e806'; } /* '' */
.star-empty-icon:before { content: '\e807'; } /* '' */
.star-half-icon:before { content: '\e808'; } /* '' */
.user-icon:before { content: '\e809'; } /* '' */
.users-icon:before { content: '\e80a'; } /* '' */
.video-icon:before { content: '\e80b'; } /* '' */
.videocam-icon:before { content: '\e80c'; } /* '' */
.picture-icon:before { content: '\e80d'; } /* '' */
.camera-icon:before { content: '\e80e'; } /* '' */
.camera-alt-icon:before { content: '\e80f'; } /* '' */
.th-large-icon:before { content: '\e810'; } /* '' */
.th-icon:before { content: '\e811'; } /* '' */
.th-list-icon:before { content: '\e812'; } /* '' */
.ok-icon:before { content: '\e813'; } /* '' */
.ok-circled-icon:before { content: '\e814'; } /* '' */
.ok-circled2-icon:before { content: '\e815'; } /* '' */
.cancel-icon:before { content: '\e816'; } /* '' */
.cancel-circled-icon:before { content: '\e817'; } /* '' */
.cancel-circled2-icon:before { content: '\e818'; } /* '' */
.plus-icon:before { content: '\e819'; } /* '' */
.plus-circled-icon:before { content: '\e81a'; } /* '' */
.minus-icon:before { content: '\e81b'; } /* '' */
.minus-circled-icon:before { content: '\e81c'; } /* '' */
.help-circled-icon:before { content: '\e81d'; } /* '' */
.info-circled-icon:before { content: '\e81e'; } /* '' */
.home-icon:before { content: '\e81f'; } /* '' */
.link-icon:before { content: '\e820'; } /* '' */
.attach-icon:before { content: '\e821'; } /* '' */
.lock-icon:before { content: '\e822'; } /* '' */
.lock-open-icon:before { content: '\e823'; } /* '' */
.pin-icon:before { content: '\e824'; } /* '' */
.eye-icon:before { content: '\e825'; } /* '' */
.eye-off-icon:before { content: '\e826'; } /* '' */
.tag-icon:before { content: '\e827'; } /* '' */
.tags-icon:before { content: '\e828'; } /* '' */
.bookmark-icon:before { content: '\e829'; } /* '' */
.flag-icon:before { content: '\e82a'; } /* '' */
.thumbs-up-icon:before { content: '\e82b'; } /* '' */
.thumbs-down-icon:before { content: '\e82c'; } /* '' */
.download-icon:before { content: '\e82d'; } /* '' */
.upload-icon:before { content: '\e82e'; } /* '' */
.forward-icon:before { content: '\e82f'; } /* '' */
.export-icon:before { content: '\e830'; } /* '' */
.pencil-icon:before { content: '\e831'; } /* '' */
.edit-icon:before { content: '\e832'; } /* '' */
.print-icon:before { content: '\e833'; } /* '' */
.retweet-icon:before { content: '\e834'; } /* '' */
.comment-icon:before { content: '\e835'; } /* '' */
.chat-icon:before { content: '\e836'; } /* '' */
.bell-icon:before { content: '\e837'; } /* '' */
.attention-icon:before { content: '\e838'; } /* '' */
.attention-circled-icon:before { content: '\e839'; } /* '' */
.location-icon:before { content: '\e83a'; } /* '' */
.trash-empty-icon:before { content: '\e83b'; } /* '' */
.doc-icon:before { content: '\e83c'; } /* '' */
.folder-icon:before { content: '\e83d'; } /* '' */
.folder-open-icon:before { content: '\e83e'; } /* '' */
.phone-icon:before { content: '\e83f'; } /* '' */
.cog-icon:before { content: '\e840'; } /* '' */
.cog-alt-icon:before { content: '\e841'; } /* '' */
.wrench-icon:before { content: '\e842'; } /* '' */
.basket-icon:before { content: '\e843'; } /* '' */
.calendar-icon:before { content: '\e844'; } /* '' */
.login-icon:before { content: '\e845'; } /* '' */
.logout-icon:before { content: '\e846'; } /* '' */
.volume-off-icon:before { content: '\e847'; } /* '' */
.volume-down-icon:before { content: '\e848'; } /* '' */
.volume-up-icon:before { content: '\e849'; } /* '' */
.headphones-icon:before { content: '\e84a'; } /* '' */
.clock-icon:before { content: '\e84b'; } /* '' */
.block-icon:before { content: '\e84c'; } /* '' */
.resize-full-icon:before { content: '\e84d'; } /* '' */
.resize-small-icon:before { content: '\e84e'; } /* '' */
.resize-vertical-icon:before { content: '\e84f'; } /* '' */
.resize-horizontal-icon:before { content: '\e850'; } /* '' */
.zoom-in-icon:before { content: '\e851'; } /* '' */
.zoom-out-icon:before { content: '\e852'; } /* '' */
.down-circled2-icon:before { content: '\e853'; } /* '' */
.up-circled2-icon:before { content: '\e854'; } /* '' */
.down-dir-icon:before { content: '\e855'; } /* '' */
.up-dir-icon:before { content: '\e856'; } /* '' */
.left-dir-icon:before { content: '\e857'; } /* '' */
.right-dir-icon:before { content: '\e858'; } /* '' */
.down-open-icon:before { content: '\e859'; } /* '' */
.left-open-icon:before { content: '\e85a'; } /* '' */
.right-open-icon:before { content: '\e85b'; } /* '' */
.up-open-icon:before { content: '\e85c'; } /* '' */
.down-big-icon:before { content: '\e85d'; } /* '' */
.left-big-icon:before { content: '\e85e'; } /* '' */
.right-big-icon:before { content: '\e85f'; } /* '' */
.up-big-icon:before { content: '\e860'; } /* '' */
.right-hand-icon:before { content: '\e861'; } /* '' */
.left-hand-icon:before { content: '\e862'; } /* '' */
.up-hand-icon:before { content: '\e863'; } /* '' */
.down-hand-icon:before { content: '\e864'; } /* '' */
.cw-icon:before { content: '\e865'; } /* '' */
.ccw-icon:before { content: '\e866'; } /* '' */
.arrows-cw-icon:before { content: '\e867'; } /* '' */
.shuffle-icon:before { content: '\e868'; } /* '' */
.play-icon:before { content: '\e869'; } /* '' */
.play-circled2-icon:before { content: '\e86a'; } /* '' */
.stop-icon:before { content: '\e86b'; } /* '' */
.pause-icon:before { content: '\e86c'; } /* '' */
.to-end-icon:before { content: '\e86d'; } /* '' */
.to-end-alt-icon:before { content: '\e86e'; } /* '' */
.to-start-icon:before { content: '\e86f'; } /* '' */
.to-start-alt-icon:before { content: '\e870'; } /* '' */
.fast-fw-icon:before { content: '\e871'; } /* '' */
.fast-bw-icon:before { content: '\e872'; } /* '' */
.eject-icon:before { content: '\e873'; } /* '' */
.target-icon:before { content: '\e874'; } /* '' */
.signal-icon:before { content: '\e875'; } /* '' */
.award-icon:before { content: '\e876'; } /* '' */
.inbox-icon:before { content: '\e877'; } /* '' */
.globe-icon:before { content: '\e878'; } /* '' */
.cloud-icon:before { content: '\e879'; } /* '' */
.flash-icon:before { content: '\e87a'; } /* '' */
.umbrella-icon:before { content: '\e87b'; } /* '' */
.flight-icon:before { content: '\e87c'; } /* '' */
.leaf-icon:before { content: '\e87d'; } /* '' */
.font-icon:before { content: '\e87e'; } /* '' */
.bold-icon:before { content: '\e87f'; } /* '' */
.italic-icon:before { content: '\e880'; } /* '' */
.text-height-icon:before { content: '\e881'; } /* '' */
.text-width-icon:before { content: '\e882'; } /* '' */
.align-left-icon:before { content: '\e883'; } /* '' */
.align-center-icon:before { content: '\e884'; } /* '' */
.align-right-icon:before { content: '\e885'; } /* '' */
.align-justify-icon:before { content: '\e886'; } /* '' */
.list-icon:before { content: '\e887'; } /* '' */
.indent-left-icon:before { content: '\e888'; } /* '' */
.indent-right-icon:before { content: '\e889'; } /* '' */
.scissors-icon:before { content: '\e88a'; } /* '' */
.briefcase-icon:before { content: '\e88b'; } /* '' */
.off-icon:before { content: '\e88c'; } /* '' */
.road-icon:before { content: '\e88d'; } /* '' */
.list-alt-icon:before { content: '\e88e'; } /* '' */
.qrcode-icon:before { content: '\e88f'; } /* '' */
.barcode-icon:before { content: '\e890'; } /* '' */
.book-icon:before { content: '\e891'; } /* '' */
.adjust-icon:before { content: '\e892'; } /* '' */
.tint-icon:before { content: '\e893'; } /* '' */
.check-icon:before { content: '\e894'; } /* '' */
.asterisk-icon:before { content: '\e895'; } /* '' */
.gift-icon:before { content: '\e896'; } /* '' */
.fire-icon:before { content: '\e897'; } /* '' */
.magnet-icon:before { content: '\e898'; } /* '' */
.chart-bar-icon:before { content: '\e899'; } /* '' */
.credit-card-icon:before { content: '\e89a'; } /* '' */
.floppy-icon:before { content: '\e89b'; } /* '' */
.megaphone-icon:before { content: '\e89c'; } /* '' */
.key-icon:before { content: '\e89d'; } /* '' */
.truck-icon:before { content: '\e89e'; } /* '' */
.hammer-icon:before { content: '\e89f'; } /* '' */
.lemon-icon:before { content: '\e8a0'; } /* '' */
.move-icon:before { content: '\f047'; } /* '' */
.link-ext-icon:before { content: '\f08e'; } /* '' */
.check-empty-icon:before { content: '\f096'; } /* '' */
.bookmark-empty-icon:before { content: '\f097'; } /* '' */
.phone-squared-icon:before { content: '\f098'; } /* '' */
.twitter-icon:before { content: '\f099'; } /* '' */
.facebook-icon:before { content: '\f09a'; } /* '' */
.github-1-icon:before { content: '\f09b'; } /* '' */
.rss-icon:before { content: '\f09e'; } /* '' */
.hdd-icon:before { content: '\f0a0'; } /* '' */
.certificate-icon:before { content: '\f0a3'; } /* '' */
.left-circled-icon:before { content: '\f0a8'; } /* '' */
.right-circled-icon:before { content: '\f0a9'; } /* '' */
.up-circled-icon:before { content: '\f0aa'; } /* '' */
.down-circled-icon:before { content: '\f0ab'; } /* '' */
.tasks-icon:before { content: '\f0ae'; } /* '' */
.filter-icon:before { content: '\f0b0'; } /* '' */
.resize-full-alt-icon:before { content: '\f0b2'; } /* '' */
.beaker-icon:before { content: '\f0c3'; } /* '' */
.docs-icon:before { content: '\f0c5'; } /* '' */
.blank-icon:before { content: '\f0c8'; } /* '' */
.menu-icon:before { content: '\f0c9'; } /* '' */
.list-bullet-icon:before { content: '\f0ca'; } /* '' */
.list-numbered-icon:before { content: '\f0cb'; } /* '' */
.strike-icon:before { content: '\f0cc'; } /* '' */
.underline-icon:before { content: '\f0cd'; } /* '' */
.table-icon:before { content: '\f0ce'; } /* '' */
.magic-icon:before { content: '\f0d0'; } /* '' */
.pinterest-circled-icon:before { content: '\f0d2'; } /* '' */
.pinterest-squared-icon:before { content: '\f0d3'; } /* '' */
.gplus-squared-icon:before { content: '\f0d4'; } /* '' */
.gplus-icon:before { content: '\f0d5'; } /* '' */
.money-icon:before { content: '\f0d6'; } /* '' */
.columns-icon:before { content: '\f0db'; } /* '' */
.sort-icon:before { content: '\f0dc'; } /* '' */
.sort-down-icon:before { content: '\f0dd'; } /* '' */
.sort-up-icon:before { content: '\f0de'; } /* '' */
.mail-alt-icon:before { content: '\f0e0'; } /* '' */
.linkedin-icon:before { content: '\f0e1'; } /* '' */
.gauge-icon:before { content: '\f0e4'; } /* '' */
.comment-empty-icon:before { content: '\f0e5'; } /* '' */
.chat-empty-icon:before { content: '\f0e6'; } /* '' */
.sitemap-icon:before { content: '\f0e8'; } /* '' */
.paste-icon:before { content: '\f0ea'; } /* '' */
.lightbulb-icon:before { content: '\f0eb'; } /* '' */
.exchange-icon:before { content: '\f0ec'; } /* '' */
.download-cloud-icon:before { content: '\f0ed'; } /* '' */
.upload-cloud-icon:before { content: '\f0ee'; } /* '' */
.user-md-icon:before { content: '\f0f0'; } /* '' */
.stethoscope-icon:before { content: '\f0f1'; } /* '' */
.suitcase-icon:before { content: '\f0f2'; } /* '' */
.bell-alt-icon:before { content: '\f0f3'; } /* '' */
.coffee-icon:before { content: '\f0f4'; } /* '' */
.food-icon:before { content: '\f0f5'; } /* '' */
.doc-text-icon:before { content: '\f0f6'; } /* '' */
.building-icon:before { content: '\f0f7'; } /* '' */
.hospital-icon:before { content: '\f0f8'; } /* '' */
.ambulance-icon:before { content: '\f0f9'; } /* '' */
.medkit-icon:before { content: '\f0fa'; } /* '' */
.fighter-jet-icon:before { content: '\f0fb'; } /* '' */
.beer-icon:before { content: '\f0fc'; } /* '' */
.h-sigh-icon:before { content: '\f0fd'; } /* '' */
.plus-squared-icon:before { content: '\f0fe'; } /* '' */
.angle-double-left-icon:before { content: '\f100'; } /* '' */
.angle-double-right-icon:before { content: '\f101'; } /* '' */
.angle-double-up-icon:before { content: '\f102'; } /* '' */
.angle-double-down-icon:before { content: '\f103'; } /* '' */
.angle-left-icon:before { content: '\f104'; } /* '' */
.angle-right-icon:before { content: '\f105'; } /* '' */
.angle-up-icon:before { content: '\f106'; } /* '' */
.angle-down-icon:before { content: '\f107'; } /* '' */
.desktop-icon:before { content: '\f108'; } /* '' */
.laptop-icon:before { content: '\f109'; } /* '' */
.tablet-icon:before { content: '\f10a'; } /* '' */
.mobile-icon:before { content: '\f10b'; } /* '' */
.circle-empty-icon:before { content: '\f10c'; } /* '' */
.quote-left-icon:before { content: '\f10d'; } /* '' */
.quote-right-icon:before { content: '\f10e'; } /* '' */
.spinner-icon:before { content: '\f110'; } /* '' */
.circle-icon:before { content: '\f111'; } /* '' */
.reply-icon:before { content: '\f112'; } /* '' */
.github-icon:before { content: '\f113'; } /* '' */
.folder-empty-icon:before { content: '\f114'; } /* '' */
.folder-open-empty-icon:before { content: '\f115'; } /* '' */
.smile-icon:before { content: '\f118'; } /* '' */
.frown-icon:before { content: '\f119'; } /* '' */
.meh-icon:before { content: '\f11a'; } /* '' */
.gamepad-icon:before { content: '\f11b'; } /* '' */
.keyboard-icon:before { content: '\f11c'; } /* '' */
.flag-empty-icon:before { content: '\f11d'; } /* '' */
.flag-checkered-icon:before { content: '\f11e'; } /* '' */
.terminal-icon:before { content: '\f120'; } /* '' */
.code-icon:before { content: '\f121'; } /* '' */
.reply-all-icon:before { content: '\f122'; } /* '' */
.star-half-alt-icon:before { content: '\f123'; } /* '' */
.direction-icon:before { content: '\f124'; } /* '' */
.crop-icon:before { content: '\f125'; } /* '' */
.fork-icon:before { content: '\f126'; } /* '' */
.unlink-icon:before { content: '\f127'; } /* '' */
.help-icon:before { content: '\f128'; } /* '' */
.info-icon:before { content: '\f129'; } /* '' */
.attention-alt-icon:before { content: '\f12a'; } /* '' */
.superscript-icon:before { content: '\f12b'; } /* '' */
.subscript-icon:before { content: '\f12c'; } /* '' */
.eraser-icon:before { content: '\f12d'; } /* '' */
.puzzle-icon:before { content: '\f12e'; } /* '' */
.mic-icon:before { content: '\f130'; } /* '' */
.mute-icon:before { content: '\f131'; } /* '' */
.shield-icon:before { content: '\f132'; } /* '' */
.calendar-empty-icon:before { content: '\f133'; } /* '' */
.extinguisher-icon:before { content: '\f134'; } /* '' */
.rocket-icon:before { content: '\f135'; } /* '' */
.maxcdn-icon:before { content: '\f136'; } /* '' */
.angle-circled-left-icon:before { content: '\f137'; } /* '' */
.angle-circled-right-icon:before { content: '\f138'; } /* '' */
.angle-circled-up-icon:before { content: '\f139'; } /* '' */
.angle-circled-down-icon:before { content: '\f13a'; } /* '' */
.html5-icon:before { content: '\f13b'; } /* '' */
.css3-icon:before { content: '\f13c'; } /* '' */
.anchor-icon:before { content: '\f13d'; } /* '' */
.lock-open-alt-icon:before { content: '\f13e'; } /* '' */
.bullseye-icon:before { content: '\f140'; } /* '' */
.ellipsis-icon:before { content: '\f141'; } /* '' */
.ellipsis-vert-icon:before { content: '\f142'; } /* '' */
.rss-squared-icon:before { content: '\f143'; } /* '' */
.play-circled-icon:before { content: '\f144'; } /* '' */
.ticket-icon:before { content: '\f145'; } /* '' */
.minus-squared-icon:before { content: '\f146'; } /* '' */
.minus-squared-alt-icon:before { content: '\f147'; } /* '' */
.level-up-icon:before { content: '\f148'; } /* '' */
.level-down-icon:before { content: '\f149'; } /* '' */
.ok-squared-icon:before { content: '\f14a'; } /* '' */
.pencil-squared-icon:before { content: '\f14b'; } /* '' */
.link-ext-alt-icon:before { content: '\f14c'; } /* '' */
.export-alt-icon:before { content: '\f14d'; } /* '' */
.compass-icon:before { content: '\f14e'; } /* '' */
.expand-icon:before { content: '\f150'; } /* '' */
.collapse-icon:before { content: '\f151'; } /* '' */
.expand-right-icon:before { content: '\f152'; } /* '' */
.euro-icon:before { content: '\f153'; } /* '' */
.pound-icon:before { content: '\f154'; } /* '' */
.dollar-icon:before { content: '\f155'; } /* '' */
.rupee-icon:before { content: '\f156'; } /* '' */
.yen-icon:before { content: '\f157'; } /* '' */
.rouble-icon:before { content: '\f158'; } /* '' */
.won-icon:before { content: '\f159'; } /* '' */
.bitcoin-icon:before { content: '\f15a'; } /* '' */
.doc-inv-icon:before { content: '\f15b'; } /* '' */
.doc-text-inv-icon:before { content: '\f15c'; } /* '' */
.sort-name-up-icon:before { content: '\f15d'; } /* '' */
.sort-name-down-icon:before { content: '\f15e'; } /* '' */
.sort-alt-up-icon:before { content: '\f160'; } /* '' */
.sort-alt-down-icon:before { content: '\f161'; } /* '' */
.sort-number-up-icon:before { content: '\f162'; } /* '' */
.sort-number-down-icon:before { content: '\f163'; } /* '' */
.thumbs-up-alt-icon:before { content: '\f164'; } /* '' */
.thumbs-down-alt-icon:before { content: '\f165'; } /* '' */
.youtube-squared-icon:before { content: '\f166'; } /* '' */
.youtube-icon:before { content: '\f167'; } /* '' */
.xing-icon:before { content: '\f168'; } /* '' */
.xing-squared-icon:before { content: '\f169'; } /* '' */
.youtube-1-icon:before { content: '\f16a'; } /* '' */
.dropbox-icon:before { content: '\f16b'; } /* '' */
.stackoverflow-icon:before { content: '\f16c'; } /* '' */
.instagram-icon:before { content: '\f16d'; } /* '' */
.flickr-icon:before { content: '\f16e'; } /* '' */
.adn-icon:before { content: '\f170'; } /* '' */
.bitbucket-icon:before { content: '\f171'; } /* '' */
.bitbucket-squared-icon:before { content: '\f172'; } /* '' */
.tumblr-icon:before { content: '\f173'; } /* '' */
.tumblr-squared-icon:before { content: '\f174'; } /* '' */
.down-icon:before { content: '\f175'; } /* '' */
.up-icon:before { content: '\f176'; } /* '' */
.left-icon:before { content: '\f177'; } /* '' */
.right-icon:before { content: '\f178'; } /* '' */
.apple-icon:before { content: '\f179'; } /* '' */
.windows-icon:before { content: '\f17a'; } /* '' */
.android-icon:before { content: '\f17b'; } /* '' */
.linux-icon:before { content: '\f17c'; } /* '' */
.dribbble-icon:before { content: '\f17d'; } /* '' */
.skype-icon:before { content: '\f17e'; } /* '' */
.foursquare-icon:before { content: '\f180'; } /* '' */
.trello-icon:before { content: '\f181'; } /* '' */
.female-icon:before { content: '\f182'; } /* '' */
.male-icon:before { content: '\f183'; } /* '' */
.gittip-icon:before { content: '\f184'; } /* '' */
.sun-icon:before { content: '\f185'; } /* '' */
.moon-icon:before { content: '\f186'; } /* '' */
.box-icon:before { content: '\f187'; } /* '' */
.bug-icon:before { content: '\f188'; } /* '' */
.vkontakte-icon:before { content: '\f189'; } /* '' */
.weibo-icon:before { content: '\f18a'; } /* '' */
.renren-icon:before { content: '\f18b'; } /* '' */
.pagelines-icon:before { content: '\f18c'; } /* '' */
.stackexchange-icon:before { content: '\f18d'; } /* '' */
.right-circled2-icon:before { content: '\f18e'; } /* '' */
.left-circled2-icon:before { content: '\f190'; } /* '' */
.collapse-left-icon:before { content: '\f191'; } /* '' */
.dot-circled-icon:before { content: '\f192'; } /* '' */
.wheelchair-icon:before { content: '\f193'; } /* '' */
.vimeo-squared-icon:before { content: '\f194'; } /* '' */
.try-icon:before { content: '\f195'; } /* '' */
.plus-squared-alt-icon:before { content: '\f196'; } /* '' */
.space-shuttle-icon:before { content: '\f197'; } /* '' */
.slack-icon:before { content: '\f198'; } /* '' */
.mail-squared-icon:before { content: '\f199'; } /* '' */
.wordpress-icon:before { content: '\f19a'; } /* '' */
.openid-icon:before { content: '\f19b'; } /* '' */
.bank-icon:before { content: '\f19c'; } /* '' */
.graduation-cap-icon:before { content: '\f19d'; } /* '' */
.yahoo-icon:before { content: '\f19e'; } /* '' */
.google-icon:before { content: '\f1a0'; } /* '' */
.reddit-icon:before { content: '\f1a1'; } /* '' */
.reddit-squared-icon:before { content: '\f1a2'; } /* '' */
.stumbleupon-circled-icon:before { content: '\f1a3'; } /* '' */
.stumbleupon-icon:before { content: '\f1a4'; } /* '' */
.delicious-icon:before { content: '\f1a5'; } /* '' */
.digg-icon:before { content: '\f1a6'; } /* '' */
.pied-piper-squared-icon:before { content: '\f1a7'; } /* '' */
.pied-piper-alt-icon:before { content: '\f1a8'; } /* '' */
.drupal-icon:before { content: '\f1a9'; } /* '' */
.joomla-icon:before { content: '\f1aa'; } /* '' */
.language-icon:before { content: '\f1ab'; } /* '' */
.fax-icon:before { content: '\f1ac'; } /* '' */
.building-filled-icon:before { content: '\f1ad'; } /* '' */
.child-icon:before { content: '\f1ae'; } /* '' */
.paw-icon:before { content: '\f1b0'; } /* '' */
.spoon-icon:before { content: '\f1b1'; } /* '' */
.cube-icon:before { content: '\f1b2'; } /* '' */
.cubes-icon:before { content: '\f1b3'; } /* '' */
.behance-icon:before { content: '\f1b4'; } /* '' */
.behance-squared-icon:before { content: '\f1b5'; } /* '' */
.steam-icon:before { content: '\f1b6'; } /* '' */
.steam-squared-icon:before { content: '\f1b7'; } /* '' */
.recycle-icon:before { content: '\f1b8'; } /* '' */
.cab-icon:before { content: '\f1b9'; } /* '' */
.taxi-icon:before { content: '\f1ba'; } /* '' */
.tree-icon:before { content: '\f1bb'; } /* '' */
.spotify-icon:before { content: '\f1bc'; } /* '' */
.deviantart-icon:before { content: '\f1bd'; } /* '' */
.soundcloud-icon:before { content: '\f1be'; } /* '' */
.database-icon:before { content: '\f1c0'; } /* '' */
.file-pdf-icon:before { content: '\f1c1'; } /* '' */
.file-word-icon:before { content: '\f1c2'; } /* '' */
.file-excel-icon:before { content: '\f1c3'; } /* '' */
.file-powerpoint-icon:before { content: '\f1c4'; } /* '' */
.file-image-icon:before { content: '\f1c5'; } /* '' */
.file-archive-icon:before { content: '\f1c6'; } /* '' */
.file-audio-icon:before { content: '\f1c7'; } /* '' */
.file-video-icon:before { content: '\f1c8'; } /* '' */
.file-code-icon:before { content: '\f1c9'; } /* '' */
.vine-icon:before { content: '\f1ca'; } /* '' */
.codeopen-icon:before { content: '\f1cb'; } /* '' */
.jsfiddle-icon:before { content: '\f1cc'; } /* '' */
.lifebuoy-icon:before { content: '\f1cd'; } /* '' */
.circle-notch-icon:before { content: '\f1ce'; } /* '' */
.rebel-icon:before { content: '\f1d0'; } /* '' */
.empire-icon:before { content: '\f1d1'; } /* '' */
.git-squared-icon:before { content: '\f1d2'; } /* '' */
.git-icon:before { content: '\f1d3'; } /* '' */
.hacker-news-icon:before { content: '\f1d4'; } /* '' */
.tencent-weibo-icon:before { content: '\f1d5'; } /* '' */
.qq-icon:before { content: '\f1d6'; } /* '' */
.wechat-icon:before { content: '\f1d7'; } /* '' */
.paper-plane-icon:before { content: '\f1d8'; } /* '' */
.paper-plane-empty-icon:before { content: '\f1d9'; } /* '' */
.history-icon:before { content: '\f1da'; } /* '' */
.circle-thin-icon:before { content: '\f1db'; } /* '' */
.header-icon:before { content: '\f1dc'; } /* '' */
.paragraph-icon:before { content: '\f1dd'; } /* '' */
.sliders-icon:before { content: '\f1de'; } /* '' */
.share-icon:before { content: '\f1e0'; } /* '' */
.share-squared-icon:before { content: '\f1e1'; } /* '' */
.bomb-icon:before { content: '\f1e2'; } /* '' */
.soccer-ball-icon:before { content: '\f1e3'; } /* '' */
.tty-icon:before { content: '\f1e4'; } /* '' */
.binoculars-icon:before { content: '\f1e5'; } /* '' */
.plug-icon:before { content: '\f1e6'; } /* '' */
.slideshare-icon:before { content: '\f1e7'; } /* '' */
.twitch-icon:before { content: '\f1e8'; } /* '' */
.yelp-icon:before { content: '\f1e9'; } /* '' */
.newspaper-icon:before { content: '\f1ea'; } /* '' */
.wifi-icon:before { content: '\f1eb'; } /* '' */
.calc-icon:before { content: '\f1ec'; } /* '' */
.paypal-icon:before { content: '\f1ed'; } /* '' */
.gwallet-icon:before { content: '\f1ee'; } /* '' */
.cc-visa-icon:before { content: '\f1f0'; } /* '' */
.cc-mastercard-icon:before { content: '\f1f1'; } /* '' */
.cc-discover-icon:before { content: '\f1f2'; } /* '' */
.cc-amex-icon:before { content: '\f1f3'; } /* '' */
.cc-paypal-icon:before { content: '\f1f4'; } /* '' */
.cc-stripe-icon:before { content: '\f1f5'; } /* '' */
.bell-off-icon:before { content: '\f1f6'; } /* '' */
.bell-off-empty-icon:before { content: '\f1f7'; } /* '' */
.trash-icon:before { content: '\f1f8'; } /* '' */
.copyright-icon:before { content: '\f1f9'; } /* '' */
.at-icon:before { content: '\f1fa'; } /* '' */
.eyedropper-icon:before { content: '\f1fb'; } /* '' */
.brush-icon:before { content: '\f1fc'; } /* '' */
.birthday-icon:before { content: '\f1fd'; } /* '' */
.chart-area-icon:before { content: '\f1fe'; } /* '' */
.chart-pie-icon:before { content: '\f200'; } /* '' */
.chart-line-icon:before { content: '\f201'; } /* '' */
.lastfm-icon:before { content: '\f202'; } /* '' */
.lastfm-squared-icon:before { content: '\f203'; } /* '' */
.toggle-off-icon:before { content: '\f204'; } /* '' */
.toggle-on-icon:before { content: '\f205'; } /* '' */
.bicycle-icon:before { content: '\f206'; } /* '' */
.bus-icon:before { content: '\f207'; } /* '' */
.ioxhost-icon:before { content: '\f208'; } /* '' */
.angellist-icon:before { content: '\f209'; } /* '' */
.cc-icon:before { content: '\f20a'; } /* '' */
.shekel-icon:before { content: '\f20b'; } /* '' */
.meanpath-icon:before { content: '\f20c'; } /* '' */
.buysellads-icon:before { content: '\f20d'; } /* '' */
.connectdevelop-icon:before { content: '\f20e'; } /* '' */
.dashcube-icon:before { content: '\f210'; } /* '' */
.forumbee-icon:before { content: '\f211'; } /* '' */
.leanpub-icon:before { content: '\f212'; } /* '' */
.sellsy-icon:before { content: '\f213'; } /* '' */
.shirtsinbulk-icon:before { content: '\f214'; } /* '' */
.simplybuilt-icon:before { content: '\f215'; } /* '' */
.skyatlas-icon:before { content: '\f216'; } /* '' */
.cart-plus-icon:before { content: '\f217'; } /* '' */
.cart-arrow-down-icon:before { content: '\f218'; } /* '' */
.diamond-icon:before { content: '\f219'; } /* '' */
.ship-icon:before { content: '\f21a'; } /* '' */
.user-secret-icon:before { content: '\f21b'; } /* '' */
.motorcycle-icon:before { content: '\f21c'; } /* '' */
.street-view-icon:before { content: '\f21d'; } /* '' */
.heartbeat-icon:before { content: '\f21e'; } /* '' */
.venus-icon:before { content: '\f221'; } /* '' */
.mars-icon:before { content: '\f222'; } /* '' */
.mercury-icon:before { content: '\f223'; } /* '' */
.transgender-icon:before { content: '\f224'; } /* '' */
.transgender-alt-icon:before { content: '\f225'; } /* '' */
.venus-double-icon:before { content: '\f226'; } /* '' */
.mars-double-icon:before { content: '\f227'; } /* '' */
.venus-mars-icon:before { content: '\f228'; } /* '' */
.mars-stroke-icon:before { content: '\f229'; } /* '' */
.mars-stroke-v-icon:before { content: '\f22a'; } /* '' */
.mars-stroke-h-icon:before { content: '\f22b'; } /* '' */
.neuter-icon:before { content: '\f22c'; } /* '' */
.genderless-icon:before { content: '\f22d'; } /* '' */
.facebook-official-icon:before { content: '\f230'; } /* '' */
.pinterest-icon:before { content: '\f231'; } /* '' */
.whatsapp-icon:before { content: '\f232'; } /* '' */
.server-icon:before { content: '\f233'; } /* '' */
.user-plus-icon:before { content: '\f234'; } /* '' */
.user-times-icon:before { content: '\f235'; } /* '' */
.bed-icon:before { content: '\f236'; } /* '' */
.viacoin-icon:before { content: '\f237'; } /* '' */
.train-icon:before { content: '\f238'; } /* '' */
.subway-icon:before { content: '\f239'; } /* '' */
.medium-icon:before { content: '\f23a'; } /* '' */
.y-combinator-icon:before { content: '\f23b'; } /* '' */
.optin-monster-icon:before { content: '\f23c'; } /* '' */
.opencart-icon:before { content: '\f23d'; } /* '' */
.expeditedssl-icon:before { content: '\f23e'; } /* '' */
.battery-4-icon:before { content: '\f240'; } /* '' */
.battery-3-icon:before { content: '\f241'; } /* '' */
.battery-2-icon:before { content: '\f242'; } /* '' */
.battery-1-icon:before { content: '\f243'; } /* '' */
.battery-0-icon:before { content: '\f244'; } /* '' */
.mouse-pointer-icon:before { content: '\f245'; } /* '' */
.i-cursor-icon:before { content: '\f246'; } /* '' */
.object-group-icon:before { content: '\f247'; } /* '' */
.object-ungroup-icon:before { content: '\f248'; } /* '' */
.sticky-note-icon:before { content: '\f249'; } /* '' */
.sticky-note-o-icon:before { content: '\f24a'; } /* '' */
.cc-jcb-icon:before { content: '\f24b'; } /* '' */
.cc-diners-club-icon:before { content: '\f24c'; } /* '' */
.clone-icon:before { content: '\f24d'; } /* '' */
.balance-scale-icon:before { content: '\f24e'; } /* '' */
.hourglass-o-icon:before { content: '\f250'; } /* '' */
.hourglass-1-icon:before { content: '\f251'; } /* '' */
.hourglass-2-icon:before { content: '\f252'; } /* '' */
.hourglass-3-icon:before { content: '\f253'; } /* '' */
.hourglass-icon:before { content: '\f254'; } /* '' */
.hand-grab-o-icon:before { content: '\f255'; } /* '' */
.hand-paper-o-icon:before { content: '\f256'; } /* '' */
.hand-scissors-o-icon:before { content: '\f257'; } /* '' */
.hand-lizard-o-icon:before { content: '\f258'; } /* '' */
.hand-spock-o-icon:before { content: '\f259'; } /* '' */
.hand-pointer-o-icon:before { content: '\f25a'; } /* '' */
.hand-peace-o-icon:before { content: '\f25b'; } /* '' */
.trademark-icon:before { content: '\f25c'; } /* '' */
.registered-icon:before { content: '\f25d'; } /* '' */
.creative-commons-icon:before { content: '\f25e'; } /* '' */
.gg-icon:before { content: '\f260'; } /* '' */
.gg-circle-icon:before { content: '\f261'; } /* '' */
.tripadvisor-icon:before { content: '\f262'; } /* '' */
.odnoklassniki-icon:before { content: '\f263'; } /* '' */
.odnoklassniki-square-icon:before { content: '\f264'; } /* '' */
.get-pocket-icon:before { content: '\f265'; } /* '' */
.wikipedia-w-icon:before { content: '\f266'; } /* '' */
.safari-icon:before { content: '\f267'; } /* '' */
.chrome-icon:before { content: '\f268'; } /* '' */
.firefox-icon:before { content: '\f269'; } /* '' */
.opera-icon:before { content: '\f26a'; } /* '' */
.internet-explorer-icon:before { content: '\f26b'; } /* '' */
.television-icon:before { content: '\f26c'; } /* '' */
.contao-icon:before { content: '\f26d'; } /* '' */
.500px-icon:before { content: '\f26e'; } /* '' */
.amazon-icon:before { content: '\f270'; } /* '' */
.calendar-plus-o-icon:before { content: '\f271'; } /* '' */
.calendar-minus-o-icon:before { content: '\f272'; } /* '' */
.calendar-times-o-icon:before { content: '\f273'; } /* '' */
.calendar-check-o-icon:before { content: '\f274'; } /* '' */
.industry-icon:before { content: '\f275'; } /* '' */
.map-pin-icon:before { content: '\f276'; } /* '' */
.map-signs-icon:before { content: '\f277'; } /* '' */
.map-o-icon:before { content: '\f278'; } /* '' */
.map-icon:before { content: '\f279'; } /* '' */
.commenting-icon:before { content: '\f27a'; } /* '' */
.commenting-o-icon:before { content: '\f27b'; } /* '' */
.houzz-icon:before { content: '\f27c'; } /* '' */
.vimeo-icon:before { content: '\f27d'; } /* '' */
.black-tie-icon:before { content: '\f27e'; } /* '' */
.fonticons-icon:before { content: '\f280'; } /* '' */
.reddit-alien-icon:before { content: '\f281'; } /* '' */
.edge-icon:before { content: '\f282'; } /* '' */
.credit-card-alt-icon:before { content: '\f283'; } /* '' */
.codiepie-icon:before { content: '\f284'; } /* '' */
.modx-icon:before { content: '\f285'; } /* '' */
.fort-awesome-icon:before { content: '\f286'; } /* '' */
.usb-icon:before { content: '\f287'; } /* '' */
.product-hunt-icon:before { content: '\f288'; } /* '' */
.mixcloud-icon:before { content: '\f289'; } /* '' */
.scribd-icon:before { content: '\f28a'; } /* '' */
.pause-circle-icon:before { content: '\f28b'; } /* '' */
.pause-circle-o-icon:before { content: '\f28c'; } /* '' */
.stop-circle-icon:before { content: '\f28d'; } /* '' */
.stop-circle-o-icon:before { content: '\f28e'; } /* '' */
.shopping-bag-icon:before { content: '\f290'; } /* '' */
.shopping-basket-icon:before { content: '\f291'; } /* '' */
.hashtag-icon:before { content: '\f292'; } /* '' */
.bluetooth-icon:before { content: '\f293'; } /* '' */
.bluetooth-b-icon:before { content: '\f294'; } /* '' */
.percent-icon:before { content: '\f295'; } /* '' */
.gitlab-icon:before { content: '\f296'; } /* '' */
.wpbeginner-icon:before { content: '\f297'; } /* '' */
.wpforms-icon:before { content: '\f298'; } /* '' */
.envira-icon:before { content: '\f299'; } /* '' */
.universal-access-icon:before { content: '\f29a'; } /* '' */
.wheelchair-alt-icon:before { content: '\f29b'; } /* '' */
.question-circle-o-icon:before { content: '\f29c'; } /* '' */
.blind-icon:before { content: '\f29d'; } /* '' */
.audio-description-icon:before { content: '\f29e'; } /* '' */
.volume-control-phone-icon:before { content: '\f2a0'; } /* '' */
.braille-icon:before { content: '\f2a1'; } /* '' */
.assistive-listening-systems-icon:before { content: '\f2a2'; } /* '' */
.american-sign-language-interpreting-icon:before { content: '\f2a3'; } /* '' */
.asl-interpreting-icon:before { content: '\f2a4'; } /* '' */
.glide-icon:before { content: '\f2a5'; } /* '' */
.glide-g-icon:before { content: '\f2a6'; } /* '' */
.sign-language-icon:before { content: '\f2a7'; } /* '' */
.low-vision-icon:before { content: '\f2a8'; } /* '' */
.viadeo-icon:before { content: '\f2a9'; } /* '' */
.viadeo-square-icon:before { content: '\f2aa'; } /* '' */
.snapchat-icon:before { content: '\f2ab'; } /* '' */
.snapchat-ghost-icon:before { content: '\f2ac'; } /* '' */
.snapchat-square-icon:before { content: '\f2ad'; } /* '' */
.pied-piper-icon:before { content: '\f2ae'; } /* '' */
.first-order-icon:before { content: '\f2b0'; } /* '' */
.yoast-icon:before { content: '\f2b1'; } /* '' */
.themeisle-icon:before { content: '\f2b2'; } /* '' */
.google-plus-circle-icon:before { content: '\f2b3'; } /* '' */
.font-awesome-icon:before { content: '\f2b4'; } /* '' */
.handshake-o-icon:before { content: '\f2b5'; } /* '' */
.envelope-open-icon:before { content: '\f2b6'; } /* '' */
.envelope-open-o-icon:before { content: '\f2b7'; } /* '' */
.linode-icon:before { content: '\f2b8'; } /* '' */
.address-book-icon:before { content: '\f2b9'; } /* '' */
.address-book-o-icon:before { content: '\f2ba'; } /* '' */
.address-card-icon:before { content: '\f2bb'; } /* '' */
.address-card-o-icon:before { content: '\f2bc'; } /* '' */
.user-circle-icon:before { content: '\f2bd'; } /* '' */
.user-circle-o-icon:before { content: '\f2be'; } /* '' */
.user-o-icon:before { content: '\f2c0'; } /* '' */
.id-badge-icon:before { content: '\f2c1'; } /* '' */
.id-card-icon:before { content: '\f2c2'; } /* '' */
.id-card-o-icon:before { content: '\f2c3'; } /* '' */
.quora-icon:before { content: '\f2c4'; } /* '' */
.free-code-camp-icon:before { content: '\f2c5'; } /* '' */
.telegram-icon:before { content: '\f2c6'; } /* '' */
.thermometer-icon:before { content: '\f2c7'; } /* '' */
.thermometer-3-icon:before { content: '\f2c8'; } /* '' */
.thermometer-2-icon:before { content: '\f2c9'; } /* '' */
.thermometer-quarter-icon:before { content: '\f2ca'; } /* '' */
.thermometer-0-icon:before { content: '\f2cb'; } /* '' */
.shower-icon:before { content: '\f2cc'; } /* '' */
.bath-icon:before { content: '\f2cd'; } /* '' */
.podcast-icon:before { content: '\f2ce'; } /* '' */
.window-maximize-icon:before { content: '\f2d0'; } /* '' */
.window-minimize-icon:before { content: '\f2d1'; } /* '' */
.window-restore-icon:before { content: '\f2d2'; } /* '' */
.window-close-icon:before { content: '\f2d3'; } /* '' */
.window-close-o-icon:before { content: '\f2d4'; } /* '' */
.bandcamp-icon:before { content: '\f2d5'; } /* '' */
.grav-icon:before { content: '\f2d6'; } /* '' */
.etsy-icon:before { content: '\f2d7'; } /* '' */
.imdb-icon:before { content: '\f2d8'; } /* '' */
.ravelry-icon:before { content: '\f2d9'; } /* '' */
.eercast-icon:before { content: '\f2da'; } /* '' */
.microchip-icon:before { content: '\f2db'; } /* '' */
.snowflake-o-icon:before { content: '\f2dc'; } /* '' */
.superpowers-icon:before { content: '\f2dd'; } /* '' */
.wpexplorer-icon:before { content: '\f2de'; } /* '' */
.meetup-icon:before { content: '\f2e0'; } /* '' */
.github-squared-icon:before { content: '\f300'; } /* '' */
.twitter-squared-icon:before { content: '\f304'; } /* '' */
.facebook-squared-icon:before { content: '\f308'; } /* '' */
.linkedin-squared-icon:before { content: '\f30c'; } /* '' */
